name: Mirror from gitea

on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
          contents: write
    steps:
      - name: Mirror repository
        env:
          MIRROR_TOKEN: ${{ secrets.MIRROR_TOKEN }}
        run: |
          git clone --mirror https://gitea.com/Kitty314/Kitty-enc.git
          cd Kitty-enc.git
          git remote set-url origin https://x-access-token:${MIRROR_TOKEN}@github.com/kitty314/Kitty-enc.git
          git push --mirror
