name: test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: test
        run: |
          echo $PATH
          export PATH=/opt/riscv64-linux-musl/bin:$PATH
          echo $PATH
          export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
          echo $LD_LIBRARY_PATH
          sudo apt update && sudo apt install libc6-dev
          sudo find /usr/local/lib -name libiconv.so.2
          
